<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>GitHub Tudo List!</title>
        <link rel="icon" href="https://www.dwyl.io/images/favicon.ico">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body class='center z-depth-2' style='margin-top:2em'>
      <style>
      .center {
          margin: auto;
          width: 90%;
          /*border:3px solid #8AC007;*/
          padding: 10px;
      }
      </style>
