/*==============================
  #GENERAL
================================*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: inherit;
  padding: inherit;
}

body {
  font-family: sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
  width: 100%;
}

/*==============================
  #NAV
================================*/

nav {
  background-color: pink;
}

  .priority-nav {
    display: inline-block;
    list-style-type: none;
    width: 85%;
  }

    .priority-tab {
      border: 1px solid black;
      display: inline-block;
      margin: 0.1em;
      padding: 0.5em;
      height:50%;
      width: 30%;
      overflow: hidden;
    }

  .filter-icon {
    border: 1px solid black;
    display: inline-block;
    float: right;
    margin: 0.1em;
    width: 12%;
  }


/*==============================
  #ISSUES
================================*/

.priority-level {
  border: 1px solid black;
}

  .issue-priority {
    background-color: red;
    display: inline-block;
    height: 3em;
    width: 1em;
  }

  .issue-info {
    display: inline-block;
  }
