<!DOCTYPE html>
<html lang='en-GB'>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=yes'>
    <link rel='stylesheet' href='./main.css' type='text/css'>

    <title>Tudo</title>
  </head>

  <body>
    <nav>
      <ul class='priority-nav'>
        <li class='priority-tab'>P1 [1]</li>
        <li class='priority-tab'>P2 [10]</li>
        <li class='priority-tab'>P3 [10]</li>
        <li class='priority-tab'>P4 [101]</li>
        <li class='priority-tab'>P5 [100]</li>
        <li class='priority-tab'>P? [230]</li>
      </ul>
      <p class='filter-icon'>Filter</p>
    </nav>
    <section class='issues'>
      <div class='priority-level p1'>
        <h4>Priority 1</h4>
        <ul class='issues-list'>
          <li>
                <div class='issue-priority'></div>
                <div class='issue-info'>
                  <p>[org/repo] Issue Title Para</p>
                  <p>Latest activity: 2 hours ago</p>
                </div>
                <a> &gt; Arrow to Github</a>
          </li>
        </ul>
      </div>
      <div class='priority-level p2'><h4>Priority 2</h4></div>
      <div class='priority-level p3'><h4>Priority 3</h4></div>
      <div class='priority-level p4'><h4>Priority 4</h4></div>
      <div class='priority-level p5'><h4>Priority 5</h4></div>
    </section>

  </body>

</html>
