/*==============================
  GENERAL STYLES
================================*/

/*https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/*/
html {
  box-sizing: border-box;
  margin:0;
  padding:0;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  margin: 0;
  padding:0;
  font-family: Helvetica, Arial, sans-serif;
  background: #fafafa;
  color: #403f3f;
  font-size:1em;
}

h1, h2, h3, h4, h5, p, form {
  font-weight: lighter;
  margin: 0;
}

/*==============================
  Landing Page
================================*/

.landing-page {
  background: #00BCD4;
  color: #FFFFFF;
  height: 100%;
}

header{
  padding: 3em 2em;
  text-align: center;
}

header > h1 {
  display: inline-block;
  font-size: 4em;
  font-weight: normal;
  padding: 0 0.3em;
}

header > h5 {
  font-size: 1em;
}

.signin {
  background: #4DD0E1;
  border: solid 1px #E0F7FA;
  margin: 0 auto;
  padding: 1em;
  width: 80%;
}

  .signin > form {
    text-align: center;
  }

  .signin label {
    display: block;
    font-size: 1.2em;
  }

  .signin input {
    border: solid 1px #E0F7FA;
    font-size: 1em;
    margin: 0.8em 0;
    padding: 0.5em;
  }

  .signin button {
    background-color: #4CAF50;
    border: solid 1px #4CAF50;
    /*border: 0;*/
    border-radius:0;
    color: #FFFFFF;
    font-size: 1em;
    padding: 0.5em 0.8em;
  }

/*==============================
  Nav
================================*/

nav {
  background-color: #00BCD4;
  padding: 0.5em;
  width: 100%;
}

h1 {
  color: #ffffff;
  font-size: 1.5em;
  text-align: center;
}

  nav i{
    align: left;
    color: #ffffff;
    display: inline-block;
    }

  .heading{
    display: inline-block;
    padding-left: 4em; /*TEMPORARY CSS - need to figure out horizontal alignment*/
  }

/*==============================
  Categories
================================*/

.homepage-category {
  background: #ffffff;
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
  margin: 0.5em 0;
  padding: 0.6em 0.8em;
}

  .homepage-category > i {
    display: inline-block;
    font-size: 1.3em;
    padding-right: 0.2em;
  }

  .homepage-category > h2 {
    display: inline-block;
    font-size: 1.3em;
  }

/*==============================
  Issues
================================*/

.issues-list {
  background: #ffffff;
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}

  .issue-row {
    padding: 0.6em 0.8em;
  }
    .issue-row > h4 {
      font-size: 1.1em; /*requires reviewing with data*/
    }

    .issue-row > p {
      font-size: 1em;
      padding-top: 0.2em;
    }

    .issue-row > img {
      float: left;
      height: 2em;
      padding: 0.4em;
    }

/*==============================
  Issue View
================================*/

.heading > h2 {
  color: #ffffff;
  text-align: center;
}

.heading > p {
  color: #ffffff;
  text-align: center;
}

/* Issue main-info */

.issue-title > h2 {
  background: #ffffff;
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
  margin: 0.5em 0 0.2em 0;
  padding: 0.6em 0.5em;
}

.created-info {
  font-size: 0.8em;
  padding: 0 0.4em;
}

.username { /* use of span to be revisited */
  font-weight: bold;
}

.labels {
  margin: 0.4em 0;
  padding: 0.2em 0.4em;
}

.labels > p {
  background-color: grey;
  color: #ffffff;
  display: inline-block;
  font-size: 0.9em;
  margin: 0;
  padding: 0.2em;
}

.issue-description {
  background-color: #ffffff;
  border-bottom: 1px solid #bdbdbd;
  border-top: 1px solid #bdbdbd;
  padding: 0.6em 0.4em;
}

/*Issue comments*/
.comments{
  padding: 0.6em 0.4em;
  background-color: #ffffff;
  border-bottom: 1px solid #bdbdbd;
  border-top: 1px solid #bdbdbd;
  /*TEMPORARY CSS until we have a latest comment/show all comments toggle*/
  margin-top: 0.5em;
}

  .show-latest-comment > p {
    margin-bottom:0.4em;
  }



  /*TEMPORARY CSS*/
  .show-all-comments{
    display: none;
  }

/*==============================
  Colours
================================*/

/*

Cyan 500: #00BCD4
Cyan 300: #4DD0E1
Cyan 100: #B2EBF2
Cyan 50: #E0F7FA

Green 500: #4CAF50

*/
