.pagination {
  text-align: center;
  padding: 0;
}

.page-item {
  display: inline-block;
  border: 1px #717E84 solid;
  padding: 0.4em;
}

.page-item.active {
  background-color: #4BC0A9
}

.page-item.disabled {
  background-color: #DCDCDC;
  cursor: not-allowed;
}
.page-item.disabled > .page-link{
  color: grey;
  cursor: not-allowed;
}

.page-link {
  color: black;
  text-decoration: none;
}
.page-link:visited {
  color: black
}

.sr-only { /*comes from rummage library css but loads in too slow so needed to make our own sr-only class */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}
